//flex布局样式
//单轴
@mixin flex-type($type1, $type2) {
  align-items: $type2;
  display: flex;
  justify-content: $type1;
}

//多轴
@mixin flex-types($type1, $type2) {
  align-items: $type2;
  display: flex;
  flex-direction: column;
  justify-content: $type1;
}

//设置竖直方向
@mixin flex-column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@mixin font-size($size) {
  font-size: #{$size}px;
}

@mixin margin($direction, $size) {
  margin-#{$direction}: #{$size}px;
}

// 主题色
$theme-color: #f4364c;

// 加粗色
$color-333: #333;
$color-666: #666;
$color-999: #999;

// 颜色
$blue-color: #409eff;
$red-color: #f4364c;
$color-gray: #97a8be;
$color-yellow: #ffb14d;
$color-green: #66bf4b;

.color-33 {
  color: $color-333;
}

.color-99 {
  color: $color-999;
}

.color-66 {
  color: $color-666;
}

.color-d2 {
  color: #d2d2d2;
}

.c-yellow {
  color: $color-yellow;
}

.c-red {
  color: $red-color;
}

.c-blue {
  color: $blue-color;
}

.c-green {
  color: $color-green;
}

.c-gray {
  color: $color-gray;
}

.c-white {
  color: #fff;
}

$bg-color: #ffb14d;
$border-div-color: #d8dce5;
$border-color: #f5f5f5;

.bg-red {
  background: $red-color;
}

.bg-white {
  background: #fff;
}

.bg-gray {
  background: #f5f5f5;
}

.bg-yellow {
  background: $color-yellow;
}

.bg-blue {
  background: $blue-color;
}

.bg-green {
  background: $color-green;
}

//去除浏览器自动填充内容背景颜色为黄色解决方法
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.ml30 {
  margin-left: 30px;
}

.mr30 {
  margin-right: 30px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mt20 {
  margin-top: 20px;
}

.p10 {
  padding: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pr10 {
  padding-right: 10px;
}

.p20 {
  padding: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pr20 {
  padding-right: 20px;
}

.p20-d40 {
  padding: 20px 40px;
}

.p-tb20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.p-lr40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-overflow {
  display: inline-block;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.width-100 {
  width: 100px;
}

.width-120 {
  width: 120px;
}

.width-180 {
  width: 180px;
}

.width-220 {
  width: 220px;
}

.width-240 {
  width: 240px;
}

.weight-600 {
  font-weight: 600;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.border-radius {
  border-radius: 8px;
  overflow: hidden;
}

.iconfont {
  color: #a4b3c6;
  font-size: 24px;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex-shrink {
  flex-shrink: 0;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-justify-center {
  @include flex-type(center, null);
}

.flex-align-center {
  @include flex-type(null, center);
}

.flex-center {
  @include flex-type(center, center);
}

.flex-between {
  @include flex-type(space-between, center);
}

.flex-around {
  @include flex-type(space-around, center);
}

.flexs-justify-center {
  @include flex-types(null, center);
}

.flexs-align-center {
  @include flex-types(center, null);
}

.flexs-center {
  @include flex-types(center, center);
}

.flexs-between {
  @include flex-types(space-between, center);
}

.flexs-around {
  @include flex-types(space-around, center);
}

.flex-column {
  @include flex-column;
}

.overflow {
  overflow: hidden;
}

.overflow-y {
  overflow-y: auto;
}
