.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

/* Overrides */

.VPSocialLink {
  transform: scale(0.9);
}

.vp-doc {
  table {
    margin: 0;
  }

  tr,
  th,
  td {
    border: none;
  }

  h2 {
    font-size: 20px;
    border-top: none;
  }
}

/* h3 breaks SEO => replaced with h2 with the same size */
.home-content h2 {
  margin-top: 2rem;
  font-size: 1.35rem;
  border-bottom: none;
  margin-bottom: 0;
}

img.resizable-img {
  width: unset;
  height: unset;
}

.vp-doc [class*="language-"] code {
  color: #1c6b48 !important;
}

.dark {
  tr:nth-child(2n) {
    background-color: #fff;
  }
}

.aside {
  max-width: 180px !important;
  padding-left: 20px !important;
}

.VPContent.has-sidebar {
  padding-right: 50px !important;
}

.content-container {
  max-width: 1400px !important;
}

.vp-doc li + li {
  margin-top: 0 !important;
}

.vp-doc ul {
  margin: 0;
}
